.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.metadata
android/.gradle/
ios/Pods/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
